@model IEnumerable<Wordfulness.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All courses</h1>

@if (User.IsInRole("ADMIN"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @if (User.IsInRole("USER"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Lessons)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (User.IsInRole("USER") || User.IsInRole("ADMIN"))
                {
                    <td>
                        <ul>
                            @foreach (var lesson in item.Lessons)
                            {
                                <li>
                                    @if (User.IsInRole("ADMIN"))
                                    {
                                        <a asp-controller="Lessons" asp-action="Details" asp-route-id="@lesson.Id">
                                            @Html.DisplayFor(modelItem => lesson.Name)
                                        </a>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => lesson.Name)
                                    }
                                </li>
                            }
                        </ul>
                    </td>
                }
                <td>
                    @if (User.IsInRole("ADMIN"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        @Html.Raw("|")
                    }
                    @if (User.IsInRole("USER") || User.IsInRole("ADMIN"))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                    @if (User.IsInRole("ADMIN"))
                    {
                        @Html.Raw("|")
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
